
.home__intro-btn{
    border-radius: 1.5rem;
    padding: .5em 2.5em;
    border: none;
    background-image: linear-gradient(var(--Cyan), var(--Blue));
    cursor: pointer;
}

.form__btn{
    border-radius: 1.5rem;
    border: none;
    padding: 0.9375rem 0;
    background-image: linear-gradient(var(--Cyan), var(--Blue));
    cursor: pointer;
}